body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 2rem;
  color: #333;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

h1,
h2 {
  /* text-align: center; */
  color: #2c3e50;
}

.add-user {
  background-color: #fff;
  max-width: 60vw;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.add-user-form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.add-user-form input,
.add-user-form select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.2s ease;
}

.add-user-form input:focus,
.add-user-form select:focus {
  border-color: #007bff;
  outline: none;
}

.addBtn {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.addBtn:hover {
  background-color: forestgreen;
}

.user-list {
  max-width: fit-content;
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user-list p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid #eee;
}

.user-list p:last-child {
  border-bottom: none;
}

.user-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user-row p {
  width: auto;
}

.user-row-btn {
  margin-left: auto;
  display: flex;
  /* gap: 0.2rem; */
}

.user-row button {
  margin: 0.5rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.modBtn {
  background-color: white;
  color: blue;
  font-weight: bold;
}

.dltBtn {
  background-color: white;
  color: red;
  font-weight: bold;
}

.user-row button:hover {
  opacity: 0.85;
  text-decoration: underline;
}

.update-user {
  background-color: #fff;
  max-width: 60vw;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.update-user-form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.update-user-form input,
.update-user-form select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.2s ease;
}

.update-user-form input:focus,
.update-user-form select:focus {
  border-color: #007bff;
  outline: none;
}

.updateBtn {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

.updateBtn:hover {
  background-color: forestgreen;
}